<div class="container text-center" *ngIf="!loading">
  <h1 class="my-5">{{ animal.name }}</h1>
  <h2 class="my-5">Status: {{ animal.status }}</h2>
  <img
    class="m-3"
    *ngFor="let photo of animal.photos"
    src="{{ photo.medium }}"
    alt=""
  />
  <div class="my-5">
    <h2>Attributes</h2>
    <p *ngFor="let attribute of animal.attributes | keyvalue">
      {{
        attribute.value
          ? replaceDash(attribute.key) +
            " : " +
            (attribute.value ? "yes" : "no")
          : null
      }}
    </p>
  </div>
  <div class="my-5">
    <h2>Breed</h2>
    <p>{{ animal.breeds.primary }}</p>
  </div>
  <div class="my-5">
    <h2 *ngIf="animal.colors.primary">Colors</h2>
    <p *ngFor="let color of animal.colors | keyvalue">
      {{ color.value ? color.key + " : " + color.value : null }}
    </p>
  </div>
  <div class="my-5" *ngFor="let contact of animal.contact | keyvalue">
    <h2>
      {{ contact.key == "address" ? "Address" : null }}
    </h2>
    <div *ngIf="contact.key == 'address'">
      <p *ngFor="let address of animal.contact.address | keyvalue">
        {{ address.value ? address.key + " : " + address.value : null }}
      </p>
    </div>
  </div>
  <div class="my-5">
    <h2>Description</h2>
    <p>{{ animal.description }}</p>
  </div>
  <div class="my-5">
    <h2>Gender</h2>
    <p>{{ animal.gender }}</p>
  </div>
  <div
    *ngFor="let video of animal.videos"
    [innerHTML]="safeHTML(video.embed)"
  ></div>
  <a class="btn btn-primary mb-5" href="{{ animal.url }}" role="button"
    >Adopt Me!</a
  >
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <div class="spinner-border" role="status"></div>
</div>
