<div id="logoutModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout Success</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Successfully Logged Out!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Dismiss
        </button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pet Utopia</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="''"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'savedPets'">Saved Pets</a>
        </li>
      </ul>
      <button
        class="btn btn-outline-success"
        [routerLink]="'login'"
        *ngIf="!authService.loggedIn"
      >
        Sign In
      </button>
      <button
        class="btn btn-outline-success"
        *ngIf="authService.loggedIn"
        (click)="authService.logout()"
        data-bs-toggle="modal"
        data-bs-target="#logoutModal"
      >
        Log Out
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
