<div
  class="container-lg d-flex flex-wrap justify-content-center"
  *ngIf="!loading"
>
  <h1 *ngIf="savedPets.length == 0" class="mt-5">No Saved Pets</h1>
  <div *ngFor="let pet of savedPets" class="card m-4" style="width: 18rem">
    <h2 class="text-center my-4">{{ pet.animal["name"] }}</h2>
    <img
      src="{{ pet.animal['primary_photo_cropped']['full'] }}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body text-center">
      <p>Age: {{ pet.animal["age"] }}</p>
      <p>Gender: {{ pet.animal["gender"] }}</p>
      <p>Breed: {{ pet.animal["breeds"]["primary"] }}</p>
      <p style="text-transform: capitalize">
        Status: {{ pet.animal["status"] }}
      </p>
      <p class="card-text">
        {{ pet.animal["description"] }}
      </p>
      <div class="d-flex justify-content-evenly">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/pets', pet.animal['id']]"
        >
          More Info
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deletePet(pet.doc_id)"
        >
          Remove Pet
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <div class="spinner-border" role="status"></div>
</div>
