<div id="loginModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          [routerLink]="'/login'"
        >
          Go to Login
        </button>
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="!loading">
  <div class="pagination">
    <img
      *ngIf="current_page !== 1"
      src="../../assets/left-chev.svg"
      alt=""
      class="select-icon enabled"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: current_page - 1 }"
    />
    <img
      *ngIf="current_page === 1"
      src="../../assets/left-chev-disabled.svg"
      alt=""
      class="select-icon"
    />
    <a
      href=""
      *ngFor="let page of pagination"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: page }"
    >
      <div *ngIf="page === current_page" class="current_page">
        {{ page }}
      </div>
      <div *ngIf="page !== current_page">
        {{ page }}
      </div>
    </a>
    <img
      src="../../assets/right-chev.svg"
      alt=""
      class="select-icon enabled"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: current_page + 1 }"
    />
  </div>
  <div class="container-lg d-flex flex-wrap justify-content-center">
    <div *ngFor="let animal of animals" class="card m-4" style="width: 18rem">
      <h2 class="text-center my-4">{{ animal.animal_data["name"] }}</h2>
      <img
        src="{{ animal.animal_data['primary_photo_cropped']['full'] }}"
        class="card-img-top pet-img"
        alt="..."
      />
      <div class="card-body text-center">
        <p>Age: {{ animal.animal_data["age"] }}</p>
        <p>Gender: {{ animal.animal_data["gender"] }}</p>
        <p>Breed: {{ animal.animal_data["breeds"]["primary"] }}</p>
        <p style="text-transform: capitalize">
          Status: {{ animal.animal_data["status"] }}
        </p>
        <p>
          Distance: {{ animal.animal_data["distance"] | number: ".1-1" }} miles
        </p>
        <p
          class="card-text"
          [innerHTML]="animal.animal_data['description']"
        ></p>
        <div class="d-flex justify-content-evenly">
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/pets', animal.animal_data['id']]"
          >
            More Info</button
          ><button
            type="button"
            class="btn btn-primary"
            (click)="savePet($event.target, animal.animal_data['id'])"
            *ngIf="authService.loggedIn && !animal.saved"
          >
            Save Pet</button
          ><button
            type="button"
            class="btn btn-primary"
            (click)="savePet($event.target, animal.animal_data['id'])"
            *ngIf="authService.loggedIn && animal.saved"
          >
            Remove Pet</button
          ><button
            type="button"
            class="btn btn-primary"
            (click)="savePet($event.target, animal.animal_data['id'])"
            *ngIf="!authService.loggedIn"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Save Pet
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination bottom">
    <img
      *ngIf="current_page !== 1"
      src="../../assets/left-chev.svg"
      alt=""
      class="select-icon enabled"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: current_page - 1 }"
    />
    <img
      *ngIf="current_page === 1"
      src="../../assets/left-chev-disabled.svg"
      alt=""
      class="select-icon"
    />
    <a
      href=""
      *ngFor="let page of pagination"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: page }"
    >
      <div *ngIf="page === current_page" class="current_page">
        {{ page }}
      </div>
      <div *ngIf="page !== current_page">
        {{ page }}
      </div>
    </a>
    <img
      src="../../assets/right-chev.svg"
      alt=""
      class="select-icon enabled"
      [routerLink]="['/search']"
      [queryParams]="{ zipcode: zipcode, type: type, page: current_page + 1 }"
    />
  </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <div class="spinner-border" role="status"></div>
</div>
