<div id="loginModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          [routerLink]="'/login'"
        >
          Go to Login
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="container-lg d-flex flex-wrap justify-content-center"
  *ngIf="!loading"
>
  <img src="../../assets/left-chev.svg" alt="" class="select-icon">
  <img src="../../assets/right-chev.svg" alt="" class="select-icon">
  <div *ngFor="let animal of animals" class="card m-4" style="width: 18rem">
    <h2 class="text-center my-4">{{ animal["name"] }}</h2>
    <img
      src="{{ animal['primary_photo_cropped']['full'] }}"
      class="card-img-top pet-img"
      alt="..."
    />
    <div class="card-body text-center">
      <p>Age: {{ animal["age"] }}</p>
      <p>Gender: {{ animal["gender"] }}</p>
      <p>Breed: {{ animal["breeds"]["primary"] }}</p>
      <p style="text-transform: capitalize">Status: {{ animal["status"] }}</p>
      <p>Distance: {{ animal["distance"] | number: ".1-1" }} miles</p>
      <p class="card-text">
        {{ animal["description"] }}
      </p>
      <div class="d-flex justify-content-evenly">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/pets', animal['id']]"
        >
          More Info</button
        ><button
          type="button"
          class="btn btn-primary"
          (click)="savePet($event.target, animal['id'])"
          *ngIf="authService.loggedIn"
        >
          Save Pet</button
        ><button
          type="button"
          class="btn btn-primary"
          (click)="savePet($event.target, animal['id'])"
          *ngIf="!authService.loggedIn"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          Save Pet
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <div class="spinner-border" role="status"></div>
</div>
