<div
  class="d-flex flex-column justify-content-center align-items-center mt-5"
  *ngIf="!loading"
>
  <h1 class="my-5">Find Your Next Furever Friend!</h1>
  <br />
  <form (ngSubmit)="onSubmit()">
    <div class="mb-5">
      <label for="zipcode" class="form-label">Zip Code</label>
      <input
        type="number"
        class="form-control"
        id="zipcode"
        aria-describedby="emailHelp"
        [formControl]="zipcode"
      />
    </div>
    <div class="mb-5">
      <label for="typeSelect" class="form-label">Type of Pet</label>
      <select
        id="typeSelect"
        class="form-select"
        aria-label="Default select example"
        [formControl]="type"
      >
        <option disabled selected value="">Select a Species</option>
        <option *ngFor="let type of types" value="{{ type.name }}">
          {{ type.name }}
        </option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
  <div class="alert alert-danger mt-5" role="alert" *ngIf="error">
    {{ error }}
  </div>
</div> 
<div class="d-flex justify-content-center mt-5" *ngIf="loading">
  <div class="spinner-border" role="status"></div>
</div>
